p Someone has requested a password reset for your account. Follow the link below to set a new password:

p= link_to("Click here", password_update_url(token: @user.password_reset_token))

p If you don't wish to reset your password, disregard this email and no action will be taken.
